/* main format */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}

.navbar {
    float: right;
}

/* making them pretty */

.navbar a {
    color:whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color:  rgb(24, 24, 24);
    background-color: whitesmoke;
}